@font-face {
  font-family: 'InterVariable';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/InterVariable.woff2') format('woff2');
}

@font-face {
  font-family: 'InterVariable Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 89.79%;
  descent-override: 22.36%;
  line-gap-override: 0%;
  size-adjust: 107.89%;
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/pacifico.woff2') format('woff2');
}

@font-face {
  font-family: 'Pacifico Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 141.17%;
  descent-override: 49.08%;
  line-gap-override: 0%;
  size-adjust: 92.3%;
}
